<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAbjmeo7Fy51aHlyki6IlYBTHOS5niRdb8</string>
	<key>GCM_SENDER_ID</key>
	<string>387135180117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.investmentManager.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>investment-manager-4c55c</string>
	<key>STORAGE_BUCKET</key>
	<string>investment-manager-4c55c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:387135180117:ios:d848f8abbcaabadb5d33dc</string>
</dict>
</plist>